{% extends 'base.html' %}

{% block content %}
{% if candidates %}
    <h2>Democrats</h2>
    <div class="card-columns mt-4 mb-4">
        {% for candidate in candidates %}
            {% if candidate.party == "D" %}
                {% include 'partials/card.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <h2>Republicans</h2>
    <div class="card-columns mt-4 mb-5">
        {% for candidate in candidates %}
            {% if candidate.party == "R" %}
                {% include 'partials/card.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-primary" role="alert">No candidates to display.</div>
{% endif %}
{% endblock %}